h1{
	color:#000066;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	padding: 10px;}
body{background-color: #707070;}
td{font-family: Arial;
	color: white;
	text-align: center;
	background-color: #202020 ;
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;}
form{color: orange;
	font-size: 25px;
	text-align: left;}
p{font-family: Arial;
	font-size: 20px;}
#navbar {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-254px;
	white-space: nowrap;
}
ul{list-style-type: none;
	margin: -10px;
}
li {
	display:inline;
	border: 2px solid #000000;
	font-family: Arial;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #202020;
}